In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
# preprocessing the data

#drop the irrelevant features/columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [5]:
# Encode categorical variables

label_encoder_gender = LabelEncoder()

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [6]:
# One Hot Encoding  -- 'Geography' 

onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
# split the data into independent and dependent features

X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
# split the data into train-test 
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [10]:
# scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
# save the encoders and scaler

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN implementation for Regression problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input

In [15]:
# build our model

model = Sequential([
    Input(shape=(X_train.shape[1],)), #explicit input layer
    Dense(64, activation='relu'), #HL1
    Dense(32, activation='relu'), # HL2
    Dense(1) #output layer for Regression, default: Linear activation function
])

In [16]:
# compile the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [17]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
import tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# setup the Tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [19]:
# setup for EarlyStopping

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [20]:
# train the model

history = model.fit(
    X_train,y_train, 
    validation_data=(X_test,y_test), 
    epochs=100,
    callbacks=[tensorboard_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100886.5078 - mae: 100886.5078 - val_loss: 98524.7031 - val_mae: 98524.7031
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99933.8984 - mae: 99933.8984 - val_loss: 97080.4609 - val_mae: 97080.4609
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 97075.5391 - mae: 97075.5391 - val_loss: 93315.1406 - val_mae: 93315.1406
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 93564.5703 - mae: 93564.5703 - val_loss: 87028.1953 - val_mae: 87028.1953
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 86278.7266 - mae: 86278.7266 - val_loss: 78813.6172 - val_mae: 78813.6172
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 79307.7891 - mae: 79307.7891 - val_loss: 70076.3672 - val_mae: 70076.3672
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 69034.9844 - mae: 69034.9844 - val_loss: 62391.6836 - val_mae: 62391.6836
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 61975.3594 - mae: 61975.3594 - val_loss: 56600.5352 - val_mae: 56600.5352
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 55204.5898 - mae: 55204.5898 - val_loss: 53165.9023 - val_mae: 53165.9023
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 52537.2109 - mae: 52537.2109 - val_loss: 51576.9492 - val_mae: 51576.9492
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50706.6719 - mae: 50706.6719 - val_loss: 51011.7617 - val_mae: 51011.7617
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50511.0430 - mae: 50511.0430 - val_loss: 50792.0391 - val_mae: 50792.0391
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50629.2695 - mae: 50629.2695 - val_loss: 50705.3945 - val_mae: 50705.3945
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50164.3281 - mae: 50164.3281 - val_loss: 50655.5703 - val_mae: 50655.5703
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50165.5625 - mae: 50165.5625 - val_loss: 50607.8242 - val_mae: 50607.8242
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50070.6367 - mae: 50070.6367 - val_loss: 50572.4258 - val_mae: 50572.4258
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50602.7969 - mae: 50602.7969 - val_loss: 50543.9141 - val_mae: 50543.9141
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49946.4883 - mae: 49946.4883 - val_loss: 50515.2539 - val_mae: 50515.2539
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50078.5391 - mae: 50078.5391 - val_loss: 50493.8125 - val_mae: 50493.8125
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49871.9258 - mae: 49871.9258 - val_loss: 50470.9570 - val_mae: 50470.9570
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49723.2852 - mae: 49723.2852 - val_loss: 50455.2305 - val_mae: 50455.2305
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49877.4180 - mae: 49877.4180 - val_loss: 50439.1484 - val_mae: 50439.1484
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50156.5312 - mae: 50156.5312 - val_loss: 50433.7188 - val_mae: 50433.7188
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49833.3633 - mae: 49833.3633 - val_loss: 50419.3750 - val_mae: 50419.3750
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49513.8086 - mae: 49513.8086 - val_loss: 50404.7812 - val_mae: 50404.7812
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49896.1133 - mae: 49896.1133 - val_loss: 50400.6680 - val_mae: 50400.6680
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49976.7930 - mae: 49976.7930 - val_loss: 50390.1719 - val_mae: 50390.1719
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49521.0586 - mae: 49521.0586 - val_loss: 50384.1680 - val_mae: 50384.1680
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49784.9297 - mae: 49784.9297 - val_loss: 50376.5859 - val_mae: 50376.5859
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49428.8828 - mae: 49428.8828 - val_loss: 50367.7148 - val_mae: 50367.7148
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49379.9102 - mae: 49379.9102 - val_loss: 50362.6406 - val_mae: 50362.6406
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49509.5430 - mae: 49509.5430 - val_loss: 50357.0664 - val_mae: 50357.0664
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49199.3125 - mae: 49199.3125 - val_loss: 50348.0977 - val_mae: 50348.0977
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49533.5547 - mae: 49533.5547 - val_loss: 50364.5625 - val_mae: 50364.5625
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49699.0977 - mae: 49699.0977 - val_loss: 50359.4023 - val_mae: 50359.4023
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49834.0234 - mae: 49834.0234 - val_loss: 50357.2773 - val_mae: 50357.2773
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49287.7188 - mae: 49287.7188 - val_loss: 50350.4414 - val_mae: 50350.4414
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50563.5430 - mae: 50563.5430 - val_loss: 50338.5547 - val_mae: 50338.5547
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49882.7305 - mae: 49882.7305 - val_loss: 50346.3008 - val_mae: 50346.3008
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49745.6602 - mae: 49745.6602 - val_loss: 50344.1406 - val_mae: 50344.1406
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49341.2227 - mae: 49341.2227 - val_loss: 50340.9453 - val_mae: 50340.9453
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49502.0664 - mae: 49502.0664 - val_loss: 50347.9648 - val_mae: 50347.9648
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49391.2266 - mae: 49391.2266 - val_loss: 50335.1055 - val_mae: 50335.1055
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49607.0859 - mae: 49607.0859 - val_loss: 50330.7695 - val_mae: 50330.7695
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49546.4609 - mae: 49546.4609 - val_loss: 50329.7578 - val_mae: 50329.7578
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48832.8828 - mae: 48832.8828 - val_loss: 50327.0938 - val_mae: 50327.0938
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49232.9180 - mae: 49232.9180 - val_loss: 50312.1914 - val_mae: 50312.1914
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49595.9297 - mae: 49595.9297 - val_loss: 50304.4648 - val_mae: 50304.4648
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49858.9023 - mae: 49858.9023 - val_loss: 50307.4766 - val_mae: 50307.4766
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49873.4961 - mae: 49873.4961 - val_loss: 50312.6758 - val_mae: 50312.6758
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49726.2773 - mae: 49726.2773 - val_loss: 50308.4688 - val_mae: 50308.4688
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49635.0664 - mae: 49635.0664 - val_loss: 50320.8203 - val_mae: 50320.8203
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49549.6133 - mae: 49549.6133 - val_loss: 50315.4492 - val_mae: 50315.4492
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49655.7578 - mae: 49655.7578 - val_loss: 50307.9492 - val_mae: 50307.9492
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49466.0156 - mae: 49466.0156 - val_loss: 50302.2656 - val_mae: 50302.2656
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48593.4570 - mae: 48593.4570 - val_loss: 50302.1328 - val_mae: 50302.1328
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49485.0156 - mae: 49485.0156 - val_loss: 50318.1562 - val_mae: 50318.1562
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49508.3984 - mae: 49508.3984 - val_loss: 50316.3359 - val_mae: 50316.3359
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49997.6211 - mae: 49997.6211 - val_loss: 50313.7305 - val_mae: 50313.7305
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49707.6055 - mae: 49707.6055 - val_loss: 50311.8086 - val_mae: 50311.8086
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49249.5664 - mae: 49249.5664 - val_loss: 50318.2852 - val_mae: 50318.2852
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49377.5586 - mae: 49377.5586 - val_loss: 50319.8633 - val_mae: 50319.8633
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49569.3906 - mae: 49569.3906 - val_loss: 50314.3828 - val_mae: 50314.3828
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49679.5547 - mae: 49679.5547 - val_loss: 50312.6406 - val_mae: 50312.6406
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49320.5508 - mae: 49320.5508 - val_loss: 50315.5312 - val_mae: 50315.5312
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50067.1523 - mae: 50067.1523 - val_loss: 50328.1523 - val_mae: 50328.1523

In [21]:
%load_ext tensorboard

In [25]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 9516), started 0:00:35 ago. (Use '!kill 9516' to kill it.)

In [26]:
# evaluate the model on test data
test_loss, test_mae = model.evaluate(X_test,y_test)

print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51049.4844 - mae: 51049.4844
Test MAE : 50302.1328125

In [27]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.